.tooltip {
	fill: #bdc3c7;
	fill-rule: evenodd;
	opacity: 0.7;
	filter: url(#filter);
}

.basket {
	fill: #bdc3c7;
	fill-rule: evenodd;
	opacity: 0.7;
	filter: url(#filter);
}

.card {
	fill: #bdc3c7;
	fill-rule: evenodd;
	opacity: 0.7;
	filter: url(#filter);
}