.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 700px;
	min-height: 100vh;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}